<div class="container">
  <ul *ngFor="let card of CardData">
    <li class="card" (click)="showPopUp()" (click)="getCardId($event.target)" id={{card.id}}>
      {{ card.name }}

    </li>

  </ul>
  <div [ngClass]="popUp ? 'pop-up' : 'hide-pop-up'">
    <div class="popup-container" (click)="showPopUp()"></div>
  <app-checklist [CheckList]='CheckList' [cardName]='cardName' [UpdateCard]="UpdateCard" [cardId]="cardId" >
  </app-checklist>

</div>
  <div class="addCard" >
      <p (click)="inputBoxOpen()" class="text">
    + Add a card</p>
    <div [ngClass]="status ? 'input-box' : 'hide-input-box'">
      <input class="input" placeholder="Add new card" />
      <button
        class="addBtn"
        (click)="add(listId, $event.target.parentNode.children[0].value)"
      >
        Add Card
      </button>
      <button class="close" (click)="inputBoxClose()">X</button>
    </div>
  </div>
</div>
