.card{
    list-style: none;
    background-color: white;
    width:230px;
    position: relative;
    left: -30px;
    padding: 8px;
    margin-top:10px;
    border-radius:3px; 
}
.addCard{
    background-color: transparent;
    text-align: left;
    padding: 0 0 0 8px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    border: none;
    padding: 8px;
    color:#6b778c;
    margin-top: 20px;
}
.addCard:hover{
    text-decoration: underline;
    background-color: #cfd0d4;
}
.input{
    /* display:none; */
    width:230px;
    min-height: 50px;
    margin-left: 5px;
    border-radius: 3px;
    border:none;
    padding: 5px;
    position: relative;
    top:0px;
    margin-top: 5px;
}
.addBtn{
    margin-left:5px;
    margin-top:5px;
    width:100px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
}
.hide-input-box{
display: none;
}
.input-box{
    opacity: 0.8;
    width:200;
display: flex;
flex-wrap: wrap;
/* flex-direction: column; */
}
.close{
    margin: 5px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 1.5em;
    white-space: normal;
}
.text{
    font-size: 1.2em;
}
.hide-pop-up{
    display:none;
}
.container{
    z-index:5;
}
.pop-up{
    z-index:30;
    position: absolute;
}
.popup-container{
    position: fixed;
    top:0%;
    left:0;
    z-index:45;
    width:100%;
    height: 800px;
    background-color: rgba(63, 62, 62,0.4);
}


