.listData{
    display:flex;
    position: relative;
    top:70px;
    z-index:5;
    /* margin-left:-30px; */
    /* justify-content: space-evenly; */

}
.list{
    background-color: #dfe1e6;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    z-index: 8;
    flex-direction: column;
    max-height: 100%;
    padding: 10px;
}
.listWrapper{
    width: 280px;
    margin: 0 4px 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
#ulList{
    margin-left:-30px;
    /* z-index: 12; */
}

.addList{
    background-color: #6b778c;
    opacity: 0.7;
    text-align: left;
    padding: 5px;
    max-height:150px;
    border-radius: 3px;
    border: none;
    width: 272px;
    color:#dfe1e6;
    font-size: 14px;
    position: relative;
    top:14px;
    margin-left:20px;
}
.input{
    /* display:none; */
    width:240px;
    min-height: 30px;
    background-color: aliceblue;
    margin-left: 10px;
    border-radius: 3px;
    border:none;
    padding: 5px;
    position: relative;
    top:0px;
    margin-top: 5px;
}
.addBtn{
    margin-left:10px;
    margin-top:2px;
    width:100px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    min-height: 30px;
}
.hide-input-box{
display: none;
}
.input-box{
opacity: 2;
}
.close{
    margin: 5px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 1.5em;
    white-space: normal;
}
.text{
    font-size: 1.3em;
}