<div  class="listData">
<ul *ngFor="let list of BoardData" id="ulList">
    <div class="listWrapper">
    <li class="list">
        {{list.name}}
    <app-card [listId]=list.id [boardData]=BoardData></app-card>

        
    </li>
</div>
</ul>
<div class="addList">
    <p (click)="inputBoxOpen()" class="text">
        
    + Add another list
</p>
        <div [ngClass]="status?'input-box':'hide-input-box'">
        <input class="input" placeholder="Add new list" />
        <button class="addBtn" (click)="add($event.target.parentNode.children[0].value)">Add List</button>
    <button class="close" (click)="inputBox()">X</button>

    </div>
    </div>

</div>
