<div class="checklist-container">

  
  
  <p class="cardName" (click)="updateCardName()">{{ cardName }}</p>
  <div [ngClass]="cardNamePopUp?'update-card-name':'hide-card-name-popup'">
    <input class="enterCardName" placeholder={{cardName}}/>
    <button class="update-btn" (click)="addUpdatedName($event)">Update</button>
  </div>
  <button class="checkListBtn" (click)="showCheckList()">Checklists</button>
  <div [ngClass]="inputCheckList ? 'pop-up' : 'hide-pop-up'" id={{cardId}}>
        <input class="input" placeholder="Enter checklist name" />
        <button class="addBtn" (click)="addCheckList($event)">Add</button>
  </div>
  <div *ngFor="let checklist of CheckList" class="checklistName-container" id={{checklist.id}}>
    <div class="checklist">
      <h2 class="checklistName">{{ checklist.name }}</h2>
      <button class="deleteBtn" (click)="deleteCheckList($event)">Delete</button>
    </div>
    <div *ngFor="let checkitem of checklist.checkItems">
      <div *ngIf="checkitem.state==='incomplete'">
      <input type="checkbox" class="checkboxBtn" (click)="checkBoxFunction($event)" />
    </div>
    <div *ngIf="checkitem.state==='complete'">
      <input type="checkbox" checked class="checkboxBtn" (click)="checkBoxFunction($event)" />
    </div>
      <div class="checkItem">
        <h3 [ngClass]="checkitem.state==='complete'?'checkitemName':'checkitemName-uncheck'" id={{checkitem.id}}>{{ checkitem.name }}</h3>
        <button class="delete-checkitem-btn" (click)="deleteCheckItem($event)">X</button>
      </div>
    </div>
    <button class="addCheckItem" (click)="showCheckItem($event)">Add an item</button>
    <div [ngClass]="input && id==checklist.id? 'pop-up' : 'hide-pop-up'">
      <input class="input" placeholder="Enter checkitem name" />
      <button class="addBtn" (click)="addCheckItem($event)">Add</button>
    </div>
  </div>

</div>
