.checklist-container{
    background-color: #f4f5f7;
    width:60%;
    height:650px;
    z-index: 50;
    margin: 20px;
    position: fixed;
    overflow: scroll;
    top:2%;
    left:20%;
}
.cardName{
    font-size: 1.8em;
    margin-left:20px;
    color: #172b4d;
}
.checklistName{
    margin-left:60px;
    color: #172b4d;
    margin-top:20px;


}

.checkitemName{
    margin-top:-20px;
    margin-left:85px;
    color: #172b4d;
    text-decoration: line-through;

}
.checkitemName-uncheck{
    margin-top:-20px;
    margin-left:85px;
    color: #172b4d;
}
.checklist{
    /* height: 10px; */
    margin-top: -10px;
    display:flex;
    justify-content: space-between;
}
.deleteBtn{
    margin-top: 20px;
    margin-right: 200px;
    color: #172b4d;
    background-color:#cfd0d4 ;
    border:none;
    border-radius: 3px;
    width:80px;
    height:30px;
}
.deleteBtn:hover{
    background-color: #6b778c;
}
.addCheckItem{
    background-color: #cfd0d4;
    border: none;
    height:30px;
    border-radius: 3px;
    margin-left: 100px;
    margin-top: 5px;
}
.addCheckItem:hover{
    text-decoration: underline;
    background-color: #6b778c;
}
.delete-checkitem-btn{
background-color: transparent;
color: #cfd0d4;
font-size: 1.4em;
border: none;
}
.delete-checkitem-btn:hover{
    color:#6b778c;
    text-decoration: underline;
}
.checkItem{
    display:flex;
    width:70%;
    justify-content: space-between;
}
.checkboxBtn{
    position: relative;
    top:3px;
    left:60px;
}
.checkListBtn{
    background-color: #cfd0d4;
    color:#6b778c;
    border:none;
    border-radius: 3px;
    width:200px;
    height:40px;
    font-size: 1.2em;
    position: relative;
    /* top:-10; */
    margin-left:20px;
}
.checkListBtn:hover{
    background-color: #6b778c;
    color:black;
    text-decoration: underline;
}
.hide-pop-up{
    display:none;
}
.addBtn{
    background-color: green;
    border:none;
    color:white;
    border-radius: 3px;
    width:80px;
    height:30px;
    margin-top:10px;
    margin-left: 60px;
}
.input{
    margin-left:50px;
    margin-top:10px;
    width:500px;
    border-radius: 5px;
    height:40px;
}
.pop-up{
    display:flex;
    flex-direction: column;
}
.hide-card-name-popup{
    display:none;
}

.enterCardName{
    border-radius: 5px;
    width:30%;

}
.update-card-name{
    margin:10px;
}