.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* opacity: 0.8; */
    position: fixed;
    min-width: 100%;
    max-width:inherit;
    min-height:40px;
    background-color: rgba(12, 49, 94, 0.788);
  

}
body{
    color: #172b4d;
    font-size: 14px;
    font-weight: 600;
    line-height:20px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
}
.backgroundImg{
    background-repeat: no-repeat;
}